.ks-button { 
    padding: 12px 4px;
    border: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;

    &.ks-button--primary,
    &.ks-button--secondary {
        border-radius: 4px;
    }

    &.ks-button--primary {
        background-color: var(--ks-primary-color-main, #5856D6);
        color: var(--ks-secondary-color-main, #fff);
    }

    &.ks-button--secondary {
        background-color: var(--ks-secondary-color-main, #fff);
        color: var(--ks-primary-color-main, #5856D6);
        border: 1px solid var(--ks-primary-color-main, #5856D6);
    }

    &.ks-button--CTA {
        background-color: var(--ks-primary-color-main, #5856D6);
        color: var(--ks-secondary-color-main, #fff);
        border-radius: 10rem;
    }
}